{% extends '@layout/layout.html.twig' %}

{% block title (iter.has_id ? __('Modify page') : __('Make a page')) ~ ' – ' ~ parent() %}

{% block content %}
<h1 class="title">{{ iter.has_id ? __('Modify page') : __('Make a page') }}</h1>

{{ form_start(form) }}
    {# Global errors #}
    {{ form_errors(form) }}
    {# Fields #}
    {% if form.titel is defined %}
        {{ form_row(form.titel) }}
    {% endif %}
    {% if form.slug is defined %}
        {{ form_row(form.slug) }}
    {% endif %}
    {% if form.committee_id is defined %}
        {{ form_row(form.committee_id) }}
    {% endif %}
    {{ form_row(form.content_en, {'attr': {'rows': 25}}) }}
    {{ form_row(form.cover_image_url) }}
    <div class="field">
        <div class="control buttons">
            {{ form_widget(form.submit, {'label': iter.has_id ? __('Modify page') : __('Create page')}) }}
            {% if iter.has_id %}
                <a href="{{ path('page.single', {id: iter.id}) }}" class="button">{{ __('Back to page') }}</a>
            {% else %}
                <a href="{{ path('page.list') }}" class="button">{{ __('Back to all pages') }}</a>
            {% endif %}
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}
