{% extends '@layout/layout.html.twig' %}

{% block title iter.get_title ~ ' – ' ~ parent() %}

{% block ogimage iter.get_cover_image(1200) ?: parent() %}

{% macro render_controls(iter, container_class='') %}
    {% if policy.userCanUpdate(iter) %}
        <div class="dropdown is-right {{ container_class }}">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                        <span class="is-sr-only">{{ __('Manage') }}</span>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <a href="{{ path('page.update', {id: iter.id}) }}" class="dropdown-item">
                        <span class="icon is-small">
                            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                        </span>
                        <span>
                            {{ __('Modify page') }}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% block page %}
{% if iter.cover_image_url %}
    <article>
        <header class="hero has-image is-medium is-thumbnail">
            <figure class="hero-image">
                <img
                    srcset="{{ iter.get_cover_image(480) }} 480w,
                            {{ iter.get_cover_image(960) }} 960w,
                            {{ iter.get_cover_image(1200) }} 1200w,
                            {{ iter.get_cover_image(1920) }} 1920w"
                    sizes="100vw"
                    src="{{ iter.get_cover_image(1920) }}"
                >
            </figure>
            <div class="hero-body">
                <div class="container is-content-optimized">
                    {{ _self.render_controls(iter, 'is-pulled-right') }}
                    <div class="boxed-title-wrapper">
                        <h1 class="boxed-title is-4-mobile is-3-tablet">{{ iter.get_title }}</h1>
                    </div>
                </div>
            </div>
        </header>
        <div class="section">
            <div class="container is-content-optimized" id="page_{{ iter.id }}">
                {% if iter.last_modified %}
                    {# TODO: Semantically this should be in the header, but visuall that doesn't work. #}
                    <div class="block">
                        <p class="is-size-7 has-text-dark is-italic">
                            {{ __('Last updated on %s')|format(iter.last_modified|date_relative) }}
                        </p>
                    </div>
                {% endif %}
                <section class="content block">
                    {{ iter.locale_content|parse_markup }}
                </section>
            </div>
        </div>
    </article>
{% else %}
    <article class="section">
        <div class="container is-content-optimized">
            <header class="block">
                <div class="level">
                    <div class="level-left">
                        <h1 class="title level-item">{{ iter.get_title }}</h1>
                    </div>
                    {{ _self.render_controls(iter, 'level-right') }}
                </div>
                {% if iter.last_modified %}
                    <p class="subtitle is-7 has-text-dark is-italic">
                        {{ __('Last updated on %s')|format(iter.last_modified|date_relative) }}
                    </p>
                {% endif %}
            </header>
            <section class="content block" id="page_{{ iter.id }}">
                {{ iter.locale_content|parse_markup }}
            </section>
        </div>
    </article>
{% endif %}
{% endblock %}
