{% extends 'profile/base.html.twig' %}

{% set active_tab = 'incassomatic' %}

{% block tab_content %}
<article class="content">
    <h2 class="title is-4">{{ __('Incass-o-matic') }}</h2>
    <p><em>{{ __('You do not yet have a continuous direct debit mandate.') }}</em></p>
    <p>{{ __("With a continuous direct debit mandate, you no longer have to print and sign direct debit forms. No more going to the printer after buying new credits in KAST!") }}</p>

    <h3 class="title is-4">{{ __('SEPA direct debit mandate') }}</h3>
    {{ form_start(form, {action: path('profile.incassomatic.mandate', {'member_id': iter.id})}) }}
        {# Global errors #}
        {{ form_errors(form) }}
        <p>{{ __('By checking this box, you authorise (A) study association Cover (ID: NL48ZZZ400267070000) to send instructions to your bank to debit your account and (B) your bank to debit your account in accordance with the instructions from the Creditor. As part of your rights, you are entitled to a refund from your bank under the terms and conditions of your agreement with your bank. A refund must be claimed within 8 weeks starting from the date on which your account was debited. Your rights are explained in a statement that you can obtain from your bank.') }}</p>
        <div class="profile-field">
            <div class="field-label">{{ __('Name') }}</div>
            <div class="field-body">{{ iter.full_name }}</div>
        </div>
        <div class="profile-field">
            <div class="field-label">{{ __('Address') }}</div>
            <div class="field-body">{{ iter.adres }}</div>
        </div>
        <div class="profile-field">
            <div class="field-label">{{ __('Postal code') }}</div>
            <div class="field-body">{{ iter.postcode }}</div>
        </div>
        <div class="profile-field">
            <div class="field-label">{{ __('Town') }}</div>
            <div class="field-body">{{ iter.woonplaats }}</div>
        </div>
        <div class="profile-field">
            <div class="field-label">{{ __('IBAN') }}</div>
            <div class="field-body">{{ iter.iban|default('N/A') }}</div>
        </div>
        <div class="profile-field">
            <div class="field-label">{{ __('BIC') }}</div>
            <div class="field-body">{{ iter.bic|default('N/A') }}</div>
        </div>
        <p>{{ __('If you update your personal details or account number in your Cover account, these changes will be reflected in the mandate.') }}</p>
        {{ form_row(form.sepa_mandate) }}
    {{ form_end(form) }}
</article>
{% endblock %}
