{% extends 'profile/base.html.twig' %}

{% from 'profile/macros.html.twig' import profile_field %}

{% set active_tab = 'personal' %}

{% block tab_content %}
<article>
    {{ form_start(form, {action: path('profile.personal', {'member_id': iter.id})}) }}
        <div class="profile-field">
            <div class="field-body">
                <h2 class="title is-4">{{ __('Personal data') }}</h2>
                {# Global errors #}
                {{ form_errors(form) }}
            </div>
        </div>
        <div class="profile-field">
            <div class="field-label">{{ __('Name') }}</div>
            <div class="field-body">{{ iter.full_name }}</div>
        </div>
        <div class="profile-field">
            <div class="field-label">{{ __('Birthdate') }}</div>
            <div class="field-body">{{ iter.geboortedatum|date('d-m-Y') }}</div>
        </div>
        <div class="profile-field">
            <div class="field-label">{{ __('Starting year ') }}</div>
            <div class="field-body">{{ iter.beginjaar }}</div>
        </div>
        {{ profile_field(form.email, {attr: {autocomplete: 'email'}}) }}
        {{ profile_field(form.telefoonnummer, {attr: {autocomplete: 'tel'}}) }}
        {{ profile_field(form.adres, {attr: {autocomplete: 'street-address'}}) }}
        {{ profile_field(form.postcode, {attr: {autocomplete: 'postal-code'}}) }}
        {{ profile_field(form.woonplaats, {attr: {autocomplete: 'address-level2'}}) }}
        {{ profile_field(form.iban) }}
        {{ profile_field(form.bic, {optional_tag: false}) }}
        <div class="profile-field">
            <div class="field-body">
                {{ form_widget(form.submit) }}
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label"></div>
            <div class="field-body">
                <p>{{ __('Do you want to update personal information that you can’t change here? That’s possible! Just contact the secretary at <a href="mailto:secretary@svcover.nl">secretary@svcover.nl</a>.')|raw }}</p>
            </div>
        </div>
    {{ form_end(form) }}
</article>
{% endblock %}
