{% extends '@layout/layout.twig' %}

{% block title %}
    {{ __('Groups') }} – {{ parent() }}
{% endblock %}

{% block content %}
{% set grouped = iters|group_by('hidden') %}
<div class="level">
    <div class="level-left">
        <h1 class="title">{{ __('Groups') }}</h1>
    </div>
    {% if user_can_create controller.new_iter %}
        <div class="level-right buttons">
            <a href="{{ path('committees', {view: 'create'}) }}" class="button">{{ __('New committee') }}</a>
        </div>
    {% endif %}
</div>

<article class="block">
    <h2 class="title is-4">{{ __('Active') }}</h2>
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>{{ __('Name') }}</th>
                <th>{{ __('Members') }}</th>
                <th>{{ __('Type') }}</th>
                <th class="is-narrow"></th>
            </tr>
        </thead>
        <tbody>
            {% for committee in grouped.0 %}
                <tr>
                    <td>{{ committee.naam }}</td>
                    <td>{{ committee.member_count }}</td>
                    <td>{{ view.available_committee_types[committee.type] }}</td>
                    <td class="has-text-right is-nowrap">
                        {% if not committee.hidden and user_can_delete committee %}
                            <a href="{{ path('committees', {view: 'delete', commissie: committee.login}) }}" data-popup="modal">
                                <span class="icon">
                                    <i class="fas fa-trash" aria-hidden="true"></i>
                                </span>
                                <span class="is-sr-only">{{ __('Deactivate') }}</span>
                            </a>
                        {% endif %}
                        {% if user_can_update committee %}
                            <a href="{{ path('committees', {view: 'update', commissie: committee.login}) }}">
                                <span class="icon">
                                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                </span>
                                <span class="is-sr-only">{{ __('Edit') }}</span>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</article>

<article class="block">
    <h2 class="title is-4">{{ __('Inactive') }}</h2>
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>{{ __('Name') }}</th>
                <th>{{ __('Type') }}</th>
                <th class="is-narrow"></th>
            </tr>
        </thead>
        <tbody>
            {% for committee in grouped.1 %}
                <tr>
                    <td>{{ committee.naam }}</td>
                    <td>{{ view.available_committee_types[committee.type] }}</td>
                    <td class="has-text-right is-nowrap">
                        {% if user_can_update committee %}
                            <a href="{{ path('committees', {view: 'update', commissie: committee.login}) }}">
                                <span class="icon">
                                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                </span>
                                <span class="is-sr-only">{{ __('Edit') }}</span>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</article>
{% endblock %}