{% extends '@layout/layout.html.twig' %}

{% block title book.has('titel') ? book.titel : __('Photo book') ~ ' – ' ~ parent() %}

{% block page %}
<section class="section">
<div 
    class="container is-widescreen photo-book"
    data-book-id="{{ book.id }}"
    {% if policy.userCanUpdate(book) or policy.userCanCreate(book.new_book) %}
        data-permissions="admin"
    {% endif %}
>
    <article class="controls">
        <div class="level">
            <div class="level-left">
                {% if book is not instanceof('App\\DataIter\\DataIterRootPhotobook') %}
                    <a href="{{ path('photo_books.single', {book_id: book.parent.id}) }}" class="button">
                        <span class="icon"><i class="fas fa-arrow-left" aria-hidden="true"></i></span>
                        <span>{{__('Back to')}} {{ book.parent.titel }}</span>
                    </a>
                {% endif %}
            </div>
            <div class="level-right">
                <div class="field is-grouped">
                    {% if policy.userCanDownloadBook(book) %}
                        <p class="control">
                            <a href="{{ path('photo_books.download.confirm', {book_id: book.id}) }}" class="button" title="{{ __('Download photo book') }}" data-popup="modal">
                                <span class="icon">
                                    <i class="fas fa-download" aria-hidden="true"></i>
                                    <span class="is-sr-only">{{ __('Download photo book') }}</span>
                                </span>
                            </a>
                        </p>
                    {% endif %}
                    {% if policy.userCanMarkAsRead(book) %}
                        <form class="control" method="post" action="{{ path('photo_books.mark_read', {book_id: book.id}) }}" class="control">
                            <input type="hidden" name="form[_token]" value="{{ csrf_token('mark_book_read_' ~ book.id) }}">
                            <button type="submit" class="button" title="{{ __('Mark all books as seen') }}" aria-label="{{ __('Mark all books as seen') }}">
                                <span class="icon">
                                    <i class="fas fa-check" aria-hidden="true"></i>
                                </span>
                            </button>
                        </form>
                    {% endif %}

                    {% if policy.userCanUpdate(book) or policy.userCanDelete(book) or policy.userCanCreate(book.new_book) %}
                        <div class="control dropdown is-right">
                            <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                    <span>{{ __('Manage') }}</span>
                                    <span class="icon is-small">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    {% if policy.userCanUpdate(book) %}
                                        <a href="{{ path('photo_books.add_photos', {book_id: book.id}) }}" class="dropdown-item">
                                            <span class="icon">
                                                <i class="fas fa-plus" aria-hidden="true"></i>
                                            </span>
                                            <span>{{ __('Add photos') }}</span>
                                        </a>
                                        <button 
                                            id="order-photos-button"
                                            class="dropdown-item"
                                            data-photo-order-url="{{ path('photo_books.update_photo_order', {book_id: book.id}) }}"
                                            data-book-order-url="{{ path('photo_books.update_book_order', {book_id: book.id}) }}"
                                        >
                                            <span class="icon">
                                                <i class="fas fa-arrows-alt" aria-hidden="true"></i>
                                            </span>
                                            <span>{{ __("Reorder photos") }}</span>
                                        </button>
                                        <button 
                                            id="delete-selected-photos-button"
                                            class="dropdown-item photo-selection-control"
                                            data-delete-photos-url="{{ path('photo_books.delete_photos', {book_id: book.id}) }}"
                                        >
                                            <span class="icon">
                                                <i class="fas fa-trash" aria-hidden="true"></i>
                                            </span>
                                            <span>{{ __('Delete selected photos') }}</span>
                                        </button>
                                        <hr class="dropdown-divider">
                                    {% endif %}
                                    {% if policy.userCanCreate(book.new_book) %}
                                        <a href="{{ path('photo_books.create', {book_id: book.id}) }}" class="dropdown-item">
                                            <span class="icon">
                                                <i class="fas fa-folder-plus" aria-hidden="true"></i>
                                            </span>
                                            <span>{{ __('New photo book') }}</span>
                                        </a>
                                    {% endif %}
                                    {% if policy.userCanUpdate(book) or policy.userCanDelete(book) %}
                                        <hr class="dropdown-divider">
                                    {% endif %}
                                    {% if policy.userCanUpdate(book) %}
                                        {% if book.get_photos() %}
                                            <a href="{{ path('photo_books.face_detection', {book_id: book.id}) }}" class="dropdown-item">
                                                <span class="icon">
                                                    <i class="fas fa-portrait" aria-hidden="true"></i>
                                                </span>
                                                <span>{{ __('Inspect face detection') }}</span>
                                            </a>
                                        {% endif %}
                                        <a href="{{ path('photo_books.update', {book_id: book.id}) }}" class="dropdown-item">
                                            <span class="icon">
                                                <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                            </span>
                                            <span>{{ __('Modify photo book') }}</span>
                                        </a>
                                    {% endif %}
                                    {% if policy.userCanDelete(book) %}
                                        <a href="{{ path('photo_books.delete', {book_id: book.id}) }}" class="dropdown-item" data-popup="modal">
                                            <span class="icon">
                                                <i class="fas fa-folder-minus" aria-hidden="true"></i>
                                            </span>
                                            <span>{{ __('Delete photo book') }}</span>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </article>

    <header class="hero is-light">
        <div class="hero-body">
            <div class="content has-text-centered is-centered">
                <h1 class="title">{{ book.has('titel') ? book.titel : __('Photo book') }}</h1>
                {% if book.id is same as (0) %}
                    <div class="description">
                        {# introduction to the Photo book page, only visible in the root book #}
                        <p>{{ __('Welcome to Cover’s photo book, which is maintained by the %s. Please inform the PhotoCee when you made photos at an activity so they can add them to the photo book.')|e|format(
                            '<a href="' ~ path('committees.single', {slug: 'photocee'}) ~'">' ~ __('PhotoCee')  ~ '</a>')|raw }}</p>
                    </div>
                {% else %}
                    <div class="meta">
                        {% set meta_count = 0 %}
                        {% if book.date is not empty %}
                            <span class="date">{{ book.date|date('j F Y') }}</span>
                            {% set meta_count = meta_count + 1 %}
                        {% endif %}
                        {% if book.num_books > 0 %}
                            {% if meta_count > 0 %}
                                <span class="divider"></span>
                            {% endif %}
                            <span class="num_books">{{__N('%d book', '%d books', book.num_books)}}</span>
                            {% set meta_count = meta_count + 1 %}
                        {% endif %}
                        {% if book.num_photos > 0 %} 
                            {% if meta_count > 0 %}
                                <span class="divider"></span>
                            {% endif %}
                            <span class="num_photos">{{__N('%d photo', '%d photos', book.num_photos)}}</span>
                            {% set meta_count = meta_count + 1 %}
                        {% endif %}
                    </div>
                    {% if book.beschrijving is not empty %}
                        <div class="description">
                            <p>{{ book.beschrijving }}</p>
                        </div>
                    {% endif %}
                {% endif %}

                {% if book.fotograaf is not empty %}
                    <div class="photographer">
                        By: {{ book.fotograaf }}
                    </div>
                {% endif %}
            </div>
        </div>
    </header>

    {% if book.num_books == 0 and book.num_photos == 0 %}
        <article>
            <p>{{ __('There are no photos in this photo book yet') }}</p>
        </article>
    {% else %}
        {{ include('photos/books/_books.html.twig', {books: book.books|filter(book => policy.userCanRead(book))}) }}
        {{ include('photos/books/_photos.html.twig', {photos: book.photos}) }}
    {% endif %}

</div>
</section>

{% if recent_comments is defined %}
    {# show the top n comments on the front page (same one as with the info) #}
    <section class="section">
        {{ include('photos/books/_recent_comments.html.twig', {comments: recent_comments}) }}
    </section>
{% endif %}

{% endblock %}
 