<p>{{ description ?: __('This content is only visible for members.') }}</p>
<div class="markup-block">
    <a href="{{ login_path() }}" class="button is-fullwidth is-primary">
        {{ __('Log in') }}
    </a>
    <div class="divider is-fullwidth">{{ __('or') }}</div>
    <a href="{{ path('registrations.join') }}" class="button is-fullwidth">
        {{ __('Become a member') }}
    </a>
</div>
