<div class="level">
    <div class="level-left">
        <h1 class="title">{{ __('Announcements') }}</h1>
    </div>
    {% if policy.userCanCreate('DataModelAnnouncement') %}
        <div class="level-right buttons">
            <a href="{{ path('announcements.create') }}" class="button">{{ __('New announcement') }}</a>
        </div>
    {% endif %}
</div>


{% for item in iters|filter(item => policy.userCanRead(item)) %}
<div class="card is-half-height announcement block">
    <div class="card-content">
        <div class="level is-marginless">
            <div class="level-left">
                <div>
                    <h4 class="title is-5">
                        {{ item.subject }}
                    </h4>
                </div>
            </div>
            {% if policy.userCanUpdate(item) or policy.userCanDelete(item) %}
                <div class="level-right">
                    <div class="dropdown is-right">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="manage-announcement-{{ item.id }}" aria-label="{{ __('Manage') }}" title="{{ __('Manage') }}">
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="manage-announcement-{{ item.id }}" role="menu">
                            <div class="dropdown-content">
                                <a class="dropdown-item" href="{{ path('announcements.single', {id: item.id}) }}" title="{{ __('Link announcement') }}">
                                    <span class="icon">
                                        <i class="fas fa-link" aria-hidden="true"></i>
                                    </span>
                                    <span>{{ __('Link announcement') }}</span>
                                </a>
                                {% if policy.userCanUpdate(item) %}
                                    <a class="dropdown-item" href="{{ path('announcements.update', {id: item.id}) }}" title="{{ __('Edit announcement') }}">
                                        <span class="icon">
                                            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                        </span>
                                        <span>{{ __('Edit announcement') }}</span>
                                    </a>
                                {% endif %}
                                {% if policy.userCanDelete(item) %}
                                    <a class="dropdown-item" href="{{ path('announcements.delete', {id: item.id}) }}" title="{{ __('Delete announcement') }}" data-popup="modal">
                                        <span class="icon">
                                            <i class="fas fa-trash" aria-hidden="true"></i>
                                        </span>
                                        <span>{{ __('Delete announcement') }}</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <p class="subtitle is-7">
            {{ __('By') }}
            <a href="{{ path('committees.single', {slug: item.committee.login}) }}">{{ item.committee.naam }}</a>
            {{ __('on') }}
            {{ item.created_on|date() }}
        </p>
    </div>
    <div id="text-{{loop.index}}" class="card-content long-announcement">
        <p class=" has-text-left is-size-6-touch">
            {{ item.message|parse_markup }}
        </p>
    </div>
    <div class="controls is-not-active-read-more">
        <a href="text-{{loop.index}}" class="collapse-trigger" aria-controls="text-{{loop.index}}">Read More</a>
    </div>
</div>

{% endfor %}

{% if show_all_button is defined and show_all_button %}
    <p class="align-center">
        <a href="{{ path('announcements.list') }}">{{ __('Show all announcements') }}</a>
    </p>
{% endif %}
