{% extends '@layout/layout.html.twig' %}

{% block title __('Delete announcement') ~ ' – ' ~ parent() %}

{% block content %}
<div class="modal is-static">
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{ __('Delete announcement') }}</p>
        </header>
        <section class="modal-card-body">
            {{ form_start(form, {id: 'delete-announcement-form', action: path('announcements.delete', {id: iter.id}) }) }}
                <p>{{ __('Are you sure you want to delete the announcement <em>%s</em>?')|format(iter.subject|e('html'))|raw }}</p>
                {% set submit_button = form_widget(form.submit, {label: __('Delete announcement'), color: 'danger', attr: {form: 'delete-announcement-form'}}) %}
            {{ form_end(form) }}
        </section>
        <footer class="modal-card-foot">
            <a href="{{ path('announcements.single', {id: iter.id}) }}" class="button" data-dismiss="modal">{{ __('Back to announcement') }}</a>
            {{ submit_button|raw }}
        </footer>
    </div>
</div>
{% endblock %}
