{% extends '@layout/layout.html.twig' %}

{% block title __('Delete form') ~ ' – ' ~ parent() %}

{% block content %}

<div class="modal is-static">
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{ __('Delete form') }}</p>
        </header>
        <section class="modal-card-body">
            {{ form_start(form, {
                id: 'delete-form-form',
                action: path('sign_up_forms.delete', {id: iter.id}),
            }) }}
                {% set submit_button = form_widget(form.submit, {
                    label: __('Delete form'),
                    color: 'danger',
                    attr: {form: 'delete-form-form'},
                }) %}
                <div class="field content">
                    <p>{{ __('Are you sure you want to delete this sign-up form?') }}</p>
                    <p class="has-text-danger">{{ __('This will also delete all registrations. There is no way to undo this action.') }}</p>
                </div>
            {{ form_end(form) }}
        </section>
        <footer class="modal-card-foot">
            <a href="{{ path('sign_up_forms.update', {id: iter.id}) }}" class="button" data-dismiss="modal">{{ __('Back to form') }}</a>
            {{ submit_button|raw }}
        </footer>
    </div>
</div>
{% endblock %}
