{% extends '@layout/layout.html.twig' %}

{% block title __('Delete sticker') ~ ' – ' ~ parent() %}

{% block content %}
<div class="modal is-static">
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{ __('Delete sticker') }}</p>
        </header>
        <section class="modal-card-body">
            {{ form_start(form, {'id': 'delete-sticker-form', 'action': path('stickers.delete', app.request.query.all|merge({id: sticker.id})) }) }}
                <div class="field">
                    <p>{{ __('Are you sure you want to delete this sticker?') }}</p>
                </div>
                {% set submit_button = form_widget(form.submit, {label: __('Delete sticker'), color: 'danger', attr: {form: 'delete-sticker-form'}}) %}
            {{ form_end(form) }}
        </section>
        <footer class="modal-card-foot">
            <a href="{{ path('stickers.list', app.request.query.all) }}" class="button" data-dismiss="modal">{{ __('Return to map') }}</a>
            {{ submit_button|raw }}
        </footer>
    </div>
</div>
{% endblock %}
