{% extends '@layout/layout.twig' %}

{% block title __('Delete field') ~ ' – ' ~ parent() %}

{% block content %}
<h1 class="title">{{ __('Delete field') }}</h1>
{{ form_start(form, {action: path('signup', {view: 'delete_form_field', form: iter.id, field: field.id})}) }}
    <div class="field">
        <div class="control buttons">
            {{ form_widget(form.submit, {label: __('Delete field'), color: 'danger'}) }}
            <a href="{{ path('signup', {view: 'update_form', form: iter.id}) }}" class="button">{{ __('Back to form') }}</a>
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}