<form 
	class="media photo-comment"
	id="comment-form"
	name="photo_comment"
	action="{{ iter.has_id ? path('photos.comments.single', {comment_view: 'update', comment_id: iter.id, photo: photo.id, book: book.id}) : path('photos.comments', {comment_view: 'create', photo: photo.id, book: book.id}) }}"
	method="post"
>
    <input type="hidden" name="photo_comment[_token]" value="{{ csrf_token('photo_comment_' ~ photo.id ~ '_' ~ iter.id) }}">
	<figure class="media-left">
		<p class="image avatar">
			{% if iter.has_id %}
				<img class="is-rounded" src="{{ path('profile_pictures.member', {member_id: iter.author.id, format: 'square', width: 128}) }}" alt="Photo of {{ iter.author|personal_full_name }}">
			{% else %}
				<img class="is-rounded" src="{{ path('profile_pictures.member', {member_id: global.identity.member.id, format: 'square', width: 128}) }}" alt="Photo of {{ global.identity.member|personal_full_name }}">
			{% endif %}
		</p>
	</figure>
	<div class="media-content">
		<div class="field">
			<p class="control">
				<textarea 
					id="photo_comment_reactie"
					class="textarea"
					name="photo_comment[reactie]"
					placeholder="{{ __('Type your comment here…') }}"
					aria-label="{{ __('Comment') }}"
					required
				></textarea>
			</p>
		</div>
		<div class="field is-grouped is-grouped-right">
			<div class="control">
				<button type="submit" class="button is-primary">{{ iter.has_id ? __('Modify comment') : __('Post comment') }}</button>
			</div>
			{% if iter.has_id %}
				<div class="control">
					<a href="{{ controller.path('read', iter) }}" class="button">
						{{ __('Return to photo') }}
					</a>
				</div>
			{% endif %}
		</div>
	</div>
</form>
