{% extends '@layout/layout.twig' %}

{% block title __('Societies') ~ ' – ' ~ parent() %}

{% block content %}
{{ include('@layout/editable.twig', {editable: global.models.Editable.get_iter_from_title('Societies')}) }}

<div class="box content has-text-centered">
    <p>{{ __('Are you interesed in founding a society? You can request this using the form below. For more information about the process you can check the %s.')|e('html')|format('<a href="https://sd.svcover.nl/Association/Guidelines%20Societies.pdf" target="_blank">Societies Guidelines</a>')|raw }}</p>
    {% if global.auth.logged_in %}
        <a href="{{ path('societies', {view: 'found'}) }}" class="button is-medium is-primary">
            {{ __('Found a society') }}
        </a>
    {% else %}
        <p>
            <a href="{{ login_path() }}" class="button is-fullwidth is-primary">{{ __('Log in') }}</a>
            <div class="divider is-fullwidth">{{ __('or') }}</div>
            <a href="{{ path('join') }}" class="button is-fullwidth">{{ __('Become a member') }}</a>
        </p>
    {% endif %}
</div>
{% endblock %}
