{% extends '@layout/layout.html.twig' %}

{% block title __('Delete device session') ~ ' – ' ~ parent() %}

{% block content %}
<div class="modal is-static">
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{ __('Delete device session') }}</p>
        </header>
        <section class="modal-card-body">
            {{ form_start(form, {id: 'delete-device-session-form', action: path('device_sessions.delete', {id: iter.id}) }) }}
                <p>
                    {{ __('Are you sure you want to remove this device session?') }}
                    <em>{{ iter.device_name|default(__('Unnamed device')) }}</em> at <em>{{ iter.ip_address }}</em>
                </p>
                {% set submit_button = form_widget(form.submit, {label: __('Delete session'), color: 'danger', attr: {form: 'delete-device-session-form'}}) %}
            {{ form_end(form) }}
        </section>
        <footer class="modal-card-foot">
            <a href="{{ path('device_sessions.list') }}" class="button" data-dismiss="modal">{{ __('Cancel') }}</a>
            {{ submit_button|raw }}
        </footer>
    </div>
</div>
{% endblock %}
