{% extends '@layout/layout.html.twig' %}

{% block title %}
    {{ __('Impersonate a user') }} – {{ parent() }}
{% endblock %}

{% block content %}
<div class="modal is-static">
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{ __('Impersonate a user') }}</p>
        </header>
        <section class="modal-card-body">
            {{ form_start(form, {'id': 'session-overrides-form', 'action': path('impersonate'), attr: {class: 'session-overrides-form'} }) }}
                {# Global errors #}
                {{ form_errors(form) }}
                {{ form_row(form.override_committees, {attr: {class: 'is-full-width is-rtl', 'data-target': '#override-committees-fieldset'}}) }}
                <fieldset class="fieldset" id="override-committees-fieldset">
                    {{ form_widget(form.override_committee_ids) }}
                </fieldset>
                {{ form_row(form.override_member, {attr: {class: 'is-full-width is-rtl', 'data-target': '#override-member-fieldset'}}) }}

                <fieldset class="fieldset" id="override-member-fieldset">
                    {{ form_row(form.override_member_id, {optional_tag: false}) }}
                </fieldset>

                {# Cache submit button #}
                {% set submit_button = form_widget(form.submit, {'label': __('Apply'), 'attr': {'form': 'session-overrides-form'}}) %}
            {{ form_end(form) }}
        </section>
        <footer class="modal-card-foot">
            <a class="button" data-dismiss="modal">{{ __('Cancel') }}</a>
            {{ submit_button|raw }}
        </footer>
    </div>
</div>
{% endblock %}
