{% extends '@layout/layout.html.twig' %}

{% block title __('Deactivate group') ~ ' – ' ~ parent() %}

{% block content %}
<div class="modal is-static">
    <div class="modal-card">
        <header class="modal-card-head">
            <h1 class="modal-card-title">{{ __('Deactivate group') }}</h1>
        </header>
        <section class="modal-card-body">
            {{ form_start(form, {'id': 'deactivate-group-form', 'action': path('committees.delete', {slug: iter.login})}) }}
                <div class="field">
                    <p>{{ __('Are you sure you want to deactivate the <em>%s</em> group? You can always reactivate a group from the Commitee Archive page.')|format(iter.naam|e('html'))|raw }}</p>
                </div>
                {% set submit_button = form_widget(form.submit, {label: __('Deactivate group'), color: 'danger', attr: {form: 'deactivate-group-form'}}) %}
            {{ form_end(form) }}
        </section>
        <footer class="modal-card-foot">
            <a href="{{ path('committees.single', {slug: iter.login}) }}" class="button" data-dismiss="modal">{{ __('Back to group page') }}</a>
            {{ submit_button|raw }}
        </footer>
    </div>
</div>
{% endblock %}
