{% extends '@layout/layout.html.twig' %}

{% macro committee_card(committee) %}
<div class="column is-half-tablet is-one-third-desktop is-one-quarter-fullhd">
    <a href="{{ path('committees.single', {slug: committee.login}) }}" class="committee">
        <div class="overlay">
            <h2 class="name">
                {{ committee.naam }}
            </h2>

            <div class="summary">
                {{ committee.page.summary|default('') }}
            </div>
        </div>

        {% if committee.has_vacancy %}
            <div class="vacancy-badge">{{ __('Looking for new members!') }}</div>
        {% endif %}


        {% if committee.page.cover_image_url %}
            <figure class="image">
                <img
                    loading="lazy"
                    srcset="{{ committee.page.get_cover_image(400) }} 400w,
                            {{ committee.page.get_cover_image(600) }} 600w"
                    sizes="100vw"
                    src="{{ committee.page.get_cover_image(600) }}"
                    alt="{{ __('Committee photo of %s')|format(committee.naam) }}"
                >
            </figure>
        {% elseif committee.members|length > 0 %}
            <div class="member-images columns is-gapless is-mobile">
                {% for member in committee.members %}
                    {% if policy.userCanRead(member) %}
                        <figure class="column image">
                            <img
                                loading="lazy"
                                src="{{ path('profile_pictures.member', {member_id: member.id, format: 'portrait', width: 512}) }}"
                                alt="{{ __('Photo of %s')|format(member.full_name) }}"
                            >
                        </figure>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </a>
</div>
{% endmacro %}

{% block title %}
    {{ __('Committees') }} – {{ parent() }}
{% endblock %}

{% block page %}

<section class="section">
    <div class="container is-widescreen photo-book">

        {% set committee_description_page = get_page('committee_description_page') %}

        {# Controls for committee archive and creating a new committee #}
        {% if policy.userCanCreate('DataModelCommissie') %}
        <article class="controls">
            <div class="level-right control dropdown is-right">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span>{{ __('Manage') }}</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>

                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            <a href="{{ path('committees.create') }}" class="dropdown-item">
                                <span class="icon">
                                    <i class="fas fa-plus" aria-hidden="true"></i>
                                </span>
                                <span>{{ __('New committee') }}</span>
                            </a>
                            
                            <a href="{{ path('committees.archive') }}" class="dropdown-item">
                                <span class="icon">
                                    <i class="fas fa-archive"></i>
                                </span>
                                <span>{{ __('Committee archive') }}</span>
                            </a>

                            {% if committee_description_page %}
                            <a href="{{ path('page.update', {id: committee_description_page.id}) }}" class="dropdown-item">
                                <span class="icon">
                                    <i class="fas fa-edit"></i>
                                </span>
                                <span>{{ __('Modify description') }}</span>
                            </a>
                            {% endif %}
                            
                        </div>
                    </div>
            </div>
        </article>
        {% endif %}


        {# Header #}
        <header class="hero is-light">
            <div class="hero-body has-text-centered is-centered">
                <h1 class="title">{{ __('Committees') }}</h1>

                {% if committee_description_page %}
                    <div class="description">
                        {{ committee_description_page.locale_content|parse_markup }}
                    </div>
                {% endif %}

                <div class="buttons is-centered">
                    {% if app.request.cookies.get('cover_color_mode', 'light') == 'dark' %}
                    <a href="{{ path('committees.join') }}" class="button is-cover is-inverted is-outlined is-size-6-tablet is-size-7-mobile">
                        {{ __('I am interested!') }}
                    </a>
                    {% else %}
                    <a href="{{ path('committees.join') }}" class="button is-black is-outlined is-size-6-table is-size-7-mobile">
                        {{ __('I am interested!') }}
                    </a>
                    {% endif %}
                </div>
            
            </div>
        </header>


        <div class="columns is-multiline">
                {% for committee in committees %}
                    {{ _self.committee_card(committee) }}
                {% endfor %}
            </div>
        </div>

    </div>


{% if working_groups %}
    <header class="section">
        <div class="container is-widescreen  level">
            <div class="level-left">
                <h1 class="title">{{ __('Working groups') }}</h1>
            </div>
        </div>
    </header>


    <section class="section">
        <div class="container is-widescreen">
            <div class="columns is-multiline">
                {% for committee in working_groups %}
                    {{ _self.committee_card(committee) }}
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
{% endblock %}
