{% extends "@layout/layout.html.twig" %}

{% block title __('Edit pending registration') ~ ' –  '~ parent() %}

{% block content %}
<h1 class="title">{{__('Edit pending registration')}}</h1>
{{ form_start(form) }}
    {% set submit_button = form_widget(form.submit, {label: __('Modify registration'), color: 'danger'}) %}
    {{ form_rest(form) }}
    <div class="field">
        <div class="control buttons">
            {{ submit_button|raw }}
            <a href="{{ path('registrations.pending.list') }}" class="button">{{ __('Back') }}</a>
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}
