{% use "form_div_layout.html.twig" %}
{# https://github.com/symfony/twig-bridge/blob/7.1/Resources/views/Form/form_div_layout.html.twig #}

{# Widgets #}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' input')|trim}) -%}
    {%- if not valid -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' is-danger')|trim}) -%}
    {%- endif -%}
    {%- if type == 'range' or type == 'color' -%}
        {# Attribute "required" is not supported #}
        {%- set required = false -%}
    {%- endif -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}>
{%- endblock form_widget_simple -%}

{%- block form_widget_compound -%}
    {%- if form is rootform -%}
        {{ form_errors(form) }}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    {%- else -%}
        <div {{ block('widget_container_attributes') }}>
            {{- block('form_rows') -}}
            {{- form_rest(form) -}}
        </div>
    {%- endif -%}
{%- endblock form_widget_compound -%}

{%- block collection_widget -%}
    {# This is a minimum working implementation. At the very least, you'll probably need to set 'entry_options.label' to make it look decent. But it's probably best to customize the implementation in your form template. #}
    <noscript><p>{{ __('This feature needs JavaScript to work.') }}</p></noscript>
    <div id="{{ form.vars.id }}-options" class="growing-list" data-growing-list-template="#{{ form.vars.id }}-template">
        {{- block('form_widget') -}}
    </div>
    {% if prototype is defined and not prototype.rendered %}
        <template id="{{ form.vars.id }}-template">
            {{ form_row(prototype) }}
        </template>
    {% endif %}
{%- endblock collection_widget -%}

{%- block textarea_widget -%}
    {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' textarea')|trim}) -%}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock textarea_widget -%}


{%- block choice_widget -%}
    {% if expanded and (chips ?? false) %}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' chips')|trim}) -%}
        <div {{ block('widget_container_attributes') }}>
            {{- block('choice_widget_expanded_chips') -}}
        </div>
    {% elseif expanded %}
        {{- block('choice_widget_expanded') -}}
    {% else %}
        {{- block('choice_widget_collapsed') -}}
    {% endif %}
{%- endblock choice_widget -%}

{%- block choice_widget_collapsed -%}
    {%- if wrapper_attr is not defined -%}
        {%- set wrapper_attr = {} -%}
    {%- endif -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    {%- set wrapper_attr = wrapper_attr|merge({'class': (wrapper_attr.class|default('') ~ ' select')|trim}) -%}
    {%- if multiple -%}
        {%- set wrapper_attr = wrapper_attr|merge({'class': (wrapper_attr.class|default('') ~ ' is-multiple')|trim}) -%}
    {%- endif -%}
    <div  {% with { attr: wrapper_attr } %}{{ block('attributes') }}{% endwith %}>
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {%- if placeholder is not none -%}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
            {%- endif -%}
            {%- if preferred_choices|length > 0 -%}
                {% set options = preferred_choices %}
                {% set render_preferred_choices = true %}
                {{- block('choice_widget_options') -}}
                {%- if choices|length > 0 and separator is not none -%}
                    <option disabled="disabled">{{ separator }}</option>
                {%- endif -%}
            {%- endif -%}
            {%- set options = choices -%}
            {%- set render_preferred_choices = false -%}
            {{- block('choice_widget_options') -}}
        </select>
    </div>
{%- endblock choice_widget_collapsed -%}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div class="control">
                {{- form_widget(child, {
                    translation_domain: choice_translation_domain,
                    valid: valid,
                    show_tag: false,
                }) -}}{#- Properly transfer the 'required' property, and make sure things are never marked required -#}
            </div>
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded %}


{%- block choice_widget_expanded_chips -%}
    {% for group_label, choice in choices %}
        {%- if choice is iterable -%}
            <fieldset class="block">
                <legend class="label">
                    {{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}
                </legend>
                <div class="chips">
                    {%- with {choices: choice} -%}{{- block('choice_widget_expanded_chips') -}}{%- endwith -%}
                </div>
            </fieldset>
        {%- else -%}
            {# Find child #}
            {%- set child = form|filter(c => not c.isRendered() and c.vars.value == choice.value)|first -%}
            {%- if child -%}
                {{- form_widget(child, {
                    translation_domain: choice_translation_domain,
                    valid: valid,
                    show_tag: false,
                    chip: true,
                }) -}}
            {%- endif -%}
        {%- endif -%}
    {% endfor %}
{%- endblock choice_widget_expanded_chips %}

{%- block checkbox_widget -%}
    {%- set attr = attr|merge({'class': (attr.class|default('') ~ ((chip ?? false) ? ' chip') ~ ((switch ?? false) ? ' switch  is-rounded'))|trim}) -%}
    {%- set widget = parent() -%}
    {{- block('checkbox_radio_widget') -}}
{%- endblock checkbox_widget -%}

{%- block radio_widget -%}
    {%- set attr = attr|merge({'class': (attr.class|default('') ~ ((chip ?? false) ? ' chip') ~ ((switch ?? false) ? ' switch  is-rounded'))|trim}) -%}
    {%- set widget = parent() -%}
    {{- block('checkbox_radio_widget') -}}
{%- endblock radio_widget %}

{%- block checkbox_radio_widget -%}
    {%- if render_label is defined and not render_label -%}
        {{- widget|raw -}}
    {%- elseif (chip ?? false) or (switch ?? false) -%}
        {{- widget|raw -}}
        {{- form_label(form, null, { widget: '', label_class: '' }) -}}
    {%- else -%}
        {{- form_label(form, null, { widget: widget }) -}}
    {%- endif -%}
{%- endblock checkbox_radio_widget %}

{%- block button_widget -%}
    {# Set Color for BulmaButtonTypeExtension #}
    {% if color is not defined %}
        {%- set color = '' -%}
    {%- endif -%}
    {% if not color and type is defined and type == 'submit' %}
        {%- set color = 'primary' -%}
    {%- endif -%}
    {% if color and not (color starts with 'is-') %}
        {%- set color = 'is-' ~ color -%}
    {%- endif -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- elseif label is not same as(false) -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' button' ~ ' ' ~ color)|trim}) -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
        {%- if translation_domain is same as(false) -%}
            {%- if label_html is same as(false) -%}
                {{- label -}}
            {%- else -%}
                {{- label|raw -}}
            {%- endif -%}
        {%- else -%}
            {%- if label_html is same as(false) -%}
                {{- label|trans(label_translation_parameters, translation_domain) -}}
            {%- else -%}
                {{- label|trans(label_translation_parameters, translation_domain)|raw -}}
            {%- endif -%}
        {%- endif -%}
    </button>
{%- endblock button_widget -%}


{%- block file_widget -%}
    {%- set widget_attr = {'class': (attr.class|default('') ~ ' file')|trim} -%}
    {%- set cta_attr = {'title': attr.title|default('')} -%}
    {%- set attr = attr|merge({'class': 'file-input'}) -%}
    <div {% with { attr: widget_attr } %}{{ block('attributes') }}{% endwith %}>
        <label class="file-label" for="{{ id }}">
            <input type="file" {{ block('widget_attributes') }}>
            <span class="file-cta" {% with { attr: cta_attr } %}{{ block('attributes') }}{% endwith %}>
                <span class="file-icon">
                    <i class="fas fa-upload" aria-hidden="true"></i>
                </span>
                <span class="file-label">{{ cta|default('Browse…') }}</span>
            </span>
            {% if 'has-name' in widget_attr.class %}
                <span class="file-name">
                    {{ attr.placeholder|default('') }}
                </span>
            {% endif %}
        </label>
    </div>
{%- endblock file_widget -%}

{# Labels #}

{%- block form_label -%}
    {% if label is not same as(false) -%}
        {%- set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' label')|trim}) -%}
        {%- if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
            {{- block('form_label_content') -}}
        </{{ element|default('label') }}>
    {%- endif -%}
{%- endblock form_label -%}

{%- block form_label_content -%}
    {%- if show_tag is not defined -%}
        {%- set show_tag = true -%}
    {%- endif -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    {%- if translation_domain is same as(false) -%}
        {%- if label_html is same as(false) -%}
            {{- label -}}
        {%- else -%}
            {{- label|raw -}}
        {%- endif -%}
    {%- else -%}
        {%- if label_html is same as(false) -%}
            {{- label|trans(label_translation_parameters, translation_domain) -}}
        {%- else -%}
            {{- label|trans(label_translation_parameters, translation_domain)|raw -}}
        {%- endif -%}
    {%- endif -%}
    {# Required/optional indicator #}
    {% if show_tag %}
        {% if not required and optional_tag ?? true %}
            <span class="tag is-rounded">optional</span>
        {% elseif required and required_tag ?? false %}
            <span class="tag is-rounded">required</span>
        {%- endif -%}
    {%- endif -%}
{%- endblock form_label_content -%}

{% block checkbox_label -%}
    {%- if label_class is not defined -%}
        {% set label_class = 'checkbox' %}
    {%- endif -%}
    {{- block('checkbox_radio_label') -}}
{%- endblock checkbox_label %}

{% block radio_label -%}
    {%- if label_class is not defined -%}
        {% set label_class = 'radio' %}
    {%- endif -%}
    {{- block('checkbox_radio_label') -}}
{%- endblock radio_label %}

{%- block checkbox_radio_label -%}
    {#- Do not display the label if widget is not defined in order to prevent double label rendering -#}
    {%- if widget is defined -%}
        {%- if label_class is defined -%}
            {%- set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' ' ~ label_class)|trim}) -%}
        {%- else -%}
            {%- set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' checkbox')|trim}) -%}
        {%- endif -%}
        {%- if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        <label{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}>
            {{- widget|raw }}
            {{ block('form_label_content') -}}
        </label>
    {%- endif -%}
{%- endblock checkbox_radio_label %}

{# Help #}

{% block form_help -%}
    {%- if help is not empty -%}
        {%- set help_attr = help_attr|merge({class: (help_attr.class|default('') ~ ' help')|trim}) -%}
        <div id="{{ id }}_help"{% with { attr: help_attr } %}{{ block('attributes') }}{% endwith %}>
            {%- if translation_domain is same as(false) -%}
                {%- if help_html is same as(false) -%}
                    {{- help -}}
                {%- else -%}
                    {{- help|raw -}}
                {%- endif -%}
            {%- else -%}
                {%- if help_html is same as(false) -%}
                    {{- help|trans(help_translation_parameters, translation_domain) -}}
                {%- else -%}
                    {{- help|trans(help_translation_parameters, translation_domain)|raw -}}
                {%- endif -%}
            {%- endif -%}
        </div>
    {%- endif -%}
{%- endblock form_help %}

{# Rows #}

{%- block form_row -%}
    {%- set widget_attr = {} -%}
    {%- set row_attr = row_attr|merge({class: (row_attr.class|default('') ~ ' field')|trim}) -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div {% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{- form_label(form) -}}
        <div class="control">
            {{- form_widget(form, widget_attr) -}}
        </div>
        {{- form_errors(form) -}}
        {{- form_help(form) -}}
    </div>
{%- endblock form_row -%}

{%- block button_row -%}
    {%- set row_attr = row_attr|merge({class: (row_attr.class|default('') ~ ' field')|trim}) -%}
    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        <div class="control">
            {{- form_widget(form) -}}
        </div>
    </div>
{%- endblock button_row -%}

{%- block hidden_row -%}
    {{ form_widget(form) }}
{%- endblock hidden_row -%}

{# Misc #}

{%- block form_start -%}
    {%- do form.setMethodRendered() -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    <form{% if id != '' %} id="{{ id }}"{% endif %} {% if name != '' %} name="{{ name }}"{% endif %} method="{{ form_method|lower }}"{% if action != '' %} action="{{ action }}"{% endif %}{{ block('attributes') }}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}">
    {%- endif -%}
{%- endblock form_start -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- for error in errors -%}
            <p class="help is-danger">{{ error.message }}</p>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}

{%- block form_rest -%}
    {% for child in form -%}
        {% if not child.rendered %}
            {{- form_row(child) -}}
        {% endif %}
    {%- endfor -%}

    {% if not form.methodRendered and form is rootform %}
        {%- do form.setMethodRendered() -%}
        {% set method = method|upper %}
        {%- if method in ["GET", "POST"] -%}
            {% set form_method = method %}
        {%- else -%}
            {% set form_method = "POST" %}
        {%- endif -%}

        {%- if form_method != method -%}
            <input type="hidden" name="_method" value="{{ method }}">
        {%- endif -%}
    {% endif -%}
{% endblock form_rest %}
