{% extends '@layout/layout.html.twig' %}

{% block title __('Delete setting') ~ ' – ' ~ parent() %}

{% block content %}
<div class="modal is-static">
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{ __('Delete setting') }}</p>
        </header>
        <section class="modal-card-body">
            {{ form_start(form, {'id': 'delete-setting-form', 'action': path('settings.delete', {id: iter.id})}) }}
                <div class="field">
                    <p>{{ __('Are you sure you want to delete the key <em>%s</em>?')|format(iter.key|e('html'))|raw }}</p>
                </div>
                {% set submit_button = form_widget(form.submit, {label: __('Delete setting'), color: 'danger', attr: {form: 'delete-setting-form'}}) %}
            {{ form_end(form) }}
        </section>
        <footer class="modal-card-foot">
            <a href="{{ path('settings.list') }}" class="button" data-dismiss="modal">{{ __('Cancel') }}</a>
            {{ submit_button|raw }}
        </footer>
    </div>
</div>
{% endblock %}
