{% extends '@layout/layout.html.twig' %}

{% block content %}
<div class="modal is-static">
    <div class="modal-card">
        <header class="modal-card-head">
            {% if iter.has_id %}
                <p class="modal-card-title">{{ __('Edit comment') }}</p>
            {% else %}
                <p class="modal-card-title">{{ __('Add comment') }}</p>
            {% endif %}
        </header>
        <section class="modal-card-body">
            {{ form_start(form, {id: 'photo-comment-form', action: app.request.requestUri }) }}
                {# Global errors #}
                {{ form_errors(form) }}
                {# Fields #}
                <div class="field">
                    <p class="control">
                        {{ form_widget(form.reactie, {attr: {'aria-label': __('Comment')}}) }}
                    </p>
                    {{ form_errors(form.reactie) }}
                    {{ form_help(form.reactie) }}
                </div>
                {% set submit_button = form_widget(form.submit, {attr: {form: 'photo-comment-form'}, label: __('Post comment')}) %}
            {{ form_end(form) }}
        </section>
        <footer class="modal-card-foot">
            <a href="{{ path('photos.single', {book_id: book.id, photo_id: photo.id}) }}" class="button" data-dismiss="modal">{{ __('Return to photo') }}</a>
            {{ submit_button|raw }}
        </footer>
    </div>
</div>
{% endblock %}
