{% extends '@layout/layout.html.twig' %}

{% block title iter.naam ~ ' – ' ~ __('Mailing lists') ~ ' – ' ~ parent() %}

{% block content %}
<header class="block">
    <nav class="level is-mobile">
        <div class="level-left">
            <a href="{{ path('mailing_lists.list') }}" class="level-item button">
                <span class="icon"><i class="fas fa-arrow-left" aria-hidden="true"></i></span>
                <span class="is-hidden-mobile">{{ __('Back to mailing lists') }}</span>
                <span class="is-hidden-tablet">{{ __('Back') }}</span>
            </a>
        </div>
        {% if policy.userCanUpdate(iter) %}
            <div class="level-right buttons">
                <a href="{{ path('mailing_lists.update', {id: iter.id}) }}" class="button">
                    {{ __('Modify mailing list') }}
                </a>
            </div>
        {% endif %}
    </nav>
    <h1 class="title">{{ iter.naam }}</h1>
    <p class="subtitle">{{ iter.adres }}</p>
    <p>
        {{ iter.omschrijving|parse_markup }}
    </p>
</header>
<div class="tabs-wrapper" data-history>
<div class="tabs">
    <ul>
        <li {% if active_tab is not defined or active_tab == 'subscriptions' %}class="is-active"{% endif %}>
            <a href="{{ path('mailing_lists.single', {id: iter.id, _fragment: 'mailing-list-subscriptions'}) }}">{{ __('Subscriptions') }}</a>
        </li>
        <li {% if active_tab is not defined or active_tab == 'statistics' %}class="is-active"{% endif %}>
            <a href="{{ path('mailing_lists.single', {id: iter.id, _fragment: 'mailing-list-statistics'}) }}">{{ __('Statistics') }}</a>
        </li>
        <li {% if active_tab is not defined or active_tab == 'archive' %}class="is-active"{% endif %}>
            <a href="{{ path('mailing_lists.archive.list', {id: iter.id, _fragment: 'mailing-list-archive'}) }}">{{ __('Message archive') }}</a>
        </li>
    </ul>
</div>
<div class="tabs-content">
    {% block tab_content %}{% endblock %}
</div>
</div>
{% endblock %}
