<div class="card block signup-form-field" id="form-field-{{field.id}}" data-id="{{ field.id }}">
    <header class="card-header">
        <div
            class="card-header-icon sortable-handle has-text-grey"
            title="{{ __('Drag me to reorder fields') }}"
            hidden
        >
            <span class="icon">
                {# unscientific research has shown that this is the best icon to indicate drag and drop #}
                <i class="fas fa-arrows-alt" aria-hidden="true"></i>
                <span class="is-sr-only">{{ __('Drag me to reorder fields') }}</span>
            </span>

        </div>
        <h3 class="card-header-title">
            {{ sign_up_utils.getTypeLabel(field) }}
        </h3>
        {# <div class="card-header-icon sortable-drag-handle"></div> #}
        <button
            type="submit"
            class="card-header-icon signup-form-field-delete-button"
            form="field-{{field.id}}-delete"
            title="{{ __('Delete field') }}"
            hidden
        >
            <span class="icon">
                <i class="fas fa-trash" aria-hidden="true"></i>
                <span class="is-sr-only">{{ __('Delete field') }}</span>
            </span>
        </button>
    </header>

    {{ include(sign_up_utils.getConfigurationTemplate(field), {
        form: sign_up_utils.getConfigurationForm(field).createView(),
        form_attrs: {
            action: path('sign_up_fields.update', {form_id: form.id, id: field.id}),
            attr: {
                class: 'card-content',
                'data-auto-submit-extra-data': '{"context": "async"}',
                'data-auto-submit': true,
            },
            id: 'field-' ~ field.id ~ '-update',
        },
    }) }}

    <form
        id="field-{{ field.id }}-delete"
        action="{{ path('sign_up_fields.delete', {form_id: form.id, id: field.id}) }}"
        method="POST"
        data-partial-selector="#form-field-{{ field.id }}"
        data-placement-selector="#form-field-{{ field.id }}"
    >
        <input type="hidden" name="form[_token]" value="{{ csrf_token('delete_sign_up_field_' ~ field.id) }}">
    </form>

    <footer class="card-footer">
        <button type="submit" class="card-footer-item" form="field-{{field.id}}-update" data-auto-submit-hidden>
            {{ __('Modify field') }}
        </button>
        <button type="submit" class="card-footer-item" form="field-{{field.id}}-delete">
            {{ __('Delete field') }}
        </button>
    </footer>
</div>
