{% set current_month = -1 %}
{% import '@theme/calendar/macros.twig' as macros %}

<ul class="event-list columns is-multiline">
{% for event in events %}
    {% if group_by_month ?? true and current_month != event.van|date('n') %}
        <li class="month-title column is-full">
            <h2 class="title is-4">
                {{ event.van|date('F Y') }}
            </h2>
        </li>
        {% set current_month = event.van|date('n') %}
    {% endif %}
    <li class="event {% if event.image_url %}has-image{% endif %} {% if event.is_proposal() %}is-proposal{% endif %} column is-half-tablet is-one-third-widescreen is-one-quarter-fullhd">
        <a href="{{ path('calendar', {agenda_id: event.id}) }}">
            {% if event.image_url %}
                <figure class="image">
                    <picture>
                        <source srcset="{{ event.get_image(600) }} 1x, {{ event.get_image(900) }} 1.5x, {{ event.get_image(1200) }} 2x" media="(min-width: 400px) and (max-width: 600px)">
                        <source srcset="{{ event.get_image(400) }} 1x, {{ event.get_image(600) }} 1.5x, {{ event.get_image(800) }} 2x">
                        <img src="{{ event.get_image(600) }}">
                    </picture>
                </figure>
            {% endif %}
            <div class="event-info">
                <div class="date">
                    <span>
                        {{ macros.format_period_short(event) }}
                    </span>
                </div>
                <div class="name">
                    <h3>
                        {{ event.kop }}
                    </h3>
                </div>
                {% if event.category %}
                    <div class="categories">
                        {% for category in event.category|split(',') %}
                            <span class="tag is-rounded {{ category }}">{{ category }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if event.is_proposal() %}
                    <span class="tag is-rounded label-pending">
                        {{ __('Waiting for approval') }}
                    </span>
                {% endif %}
            </div>
        </a>
    </li>
{% else %}
    <li class="column is-full has-text-centered">{{ __('No events found :(') }}</li>
{% endfor %}
</ul>
