{% extends '@layout/layout.twig' %}

{% block title __('Settings') ~ ' – ' ~ parent() %}

{% block content %}
<h1 class="title">{{ __('Settings') }}</h1>
<div class="table-container">
	<table class="table is-fullwidth">
		<thead>
			<tr>
				<th>{{ __('Key') }}</th>
				<th>{{ __('Value') }}</th>
				<th class="is-sticky is-right is-nowrap is-narrow"></th>
			</tr>
		</thead>
		<tbody>
			{% for item in iters %}
				{% if user_can_read item %}
					<tr>
						<td>{{ item.key }}</td>
						<td><code>{{ item.value }}</code></td>
						<td class="is-sticky is-right is-nowrap is-narrow">
							{% if user_can_update item %}
								<a href="{{ path('settings', {view: 'update', id: item.id}) }}">{{ __('Edit') }}</a>
							{% endif %}
							{% if user_can_delete item %}
								<a href="{{ path('settings', {view: 'delete', id: item.id}) }}" data-popup="modal">{{ __('Delete') }}</a>
							{% endif %}
						</td>
					</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
</div>
{% if user_can_create controller.new_iter %}
	<div class="content">
		<a href="{{ path('settings', {view: 'create'}) }}" class="button">{{ __('Add setting') }}</a>
	</div>
{% endif %}
{% endblock %}