{% extends '@layout/layout.html.twig' %}

{% block title __('Delete partner') ~ ' – ' ~ parent() %}

{% block content %}
<div class="modal is-static">
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{ __('Delete partner') }}</p>
        </header>
        <section class="modal-card-body">
            {{ form_start(form, {id: 'delete-partner-form', action: path('partners.delete', {id: iter.id}) }) }}
                <p>
                    {{ __('Are you sure you want to remove this partner?') }}
                    <em>{{ iter.name }}</em>
                </p>
                {% set submit_button = form_widget(form.submit, {label: __('Delete partner'), color: 'danger', attr: {form: 'delete-partner-form'}}) %}
            {{ form_end(form) }}
        </section>
        <footer class="modal-card-foot">
            <a href="{{ path('partners.single', {id: iter.id}) }}" class="button" data-dismiss="modal">{{ __('Cancel') }}</a>
            {{ submit_button|raw }}
        </footer>
    </div>
</div>
{% endblock %}
