{% extends '@layout/layout.html.twig' %}

{% block title __('No access') ~ ' – ' ~ parent() %}

{% block content %}
<section class="block">
    <h1 class="title">{{ __('No access') }}</h1>
    <div class="content">
        {% block error_message %}
            <p>{{ exception.message|default(__('Access to this part of the website is restricted.')) }}</p>
        {% endblock %}
        {% if not auth.loggedIn %}
            <p>
                <a href="{{ login_path(app.request.requestUri) }}" class="button is-primary is-fullwidth">{{ __('Log in') }}</a>
                <div class="divider is-fullwidth">{{ __('or') }}</div>
                <a href="{{ path('registrations.join') }}" class="button is-fullwidth">{{ __('Become a member') }}</a>
            </p>
            <p>
                <a href="{{ path('homepage') }}" class="button is-text is-fullwidth">{{ __('Go to the homepage') }}</a>
            </p>
        {% endif %}
    </div>
</section>
{% endblock %}
