{% import 'events/macros.html.twig' as macros %}

<section class="calendar">
    <div class="columns is-multiline">
        <div class="events has-background-light column is-full-tablet is-one-third-desktop">
            <div class="scroll-container">
                <div class="wrapper">
                    <h2 class="title is-5">{{ __('Upcoming Events') }}</h2>
                    {% if iters|length > 0 %}
                        <div class="events-list">
                            {% for event in iters|slice(0, 4) %}
                                <div class="event">
                                    <a href="{{ path('events.single', {id: event.id}) }}">
                                        <div class="columns is-mobile">
                                            <div class="column is-one-quarter event-date">
                                                <span class="is-size-5-touch is-size-5-desktop month is-event-date is-uppercase">{{ event.van|date('M') }}</span>
                                                <span class="is-size-5-touch is-size-5-desktop day is-event-date">&nbsp;{{ event.van|date('d') }}</span>
                                            </div>
                                            <div id="event-{{loop.index - 1}}" class="column event-details">
                                                <h3 class="is-3 is-event-title is-capitalized">{{ event.kop }}</h3>
                                                {% if event.extern %}
                                                    <span class="details is-duration">{{ __('External activity') }}</span>
                                                {% else %}
                                                    <span class="details is-duration">{{ macros.format_time(event) }}</span>
                                                {% endif %}
                                                {% if event.is_proposal() %}
                                                    <span class="label-pending is-duration">{{ __('Waiting for approval') }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>{{ __('There are no activities on the calendar at the moment.') }}</p>
                    {% endif %}
                    <a href="{{ path('events.list') }}" class="complete-calendar-link">{{ __('All events') }}</a>
                </div>
            </div>
        </div>

        <div class="column is-two-thirds-desktop" aria-hidden="true">
            <div class="carousel">
                {% for event in iters|slice(0, 4) %}
                    <div class="is-active cover-thumbnail is-2by1">
                        <div class="overlay is-bottom">
                            <div class="date boxed-title-wrapper">
                                <span class="boxed-title has-text-weight-normal is-size-6 is-size-7-touch">
                                    {{ event.van|date('F d') }}
                                </span>
                            </div>
                            <div class="name boxed-title-wrapper">
                                <h1 class="boxed-title is-size-4 is-size-5-touch">
                                    {{ event.kop }}
                                </h1>
                            </div>
                        </div>
                        {% if event.image_url %}
                            <figure class="image">
                                <picture>
                                    <source srcset="{{ event.get_image(400) }} 1x, {{ event.get_image(600) }} 1.5x, {{ event.get_image(800) }} 2x"  media="(max-width: 400px)">
                                    <source srcset="{{ event.get_image(600) }} 1x, {{ event.get_image(900) }} 1.5x, {{ event.get_image(1200) }} 2x" media="(max-width: 600px)">
                                    <source srcset="{{ event.get_image(1000) }} 1x, {{ event.get_image(1500) }} 1.5x, {{ event.get_image(2000) }} 2x">
                                    <img class="is-background" src="{{ event.get_image(1000) }}">
                                </picture>
                            </figure>
                        {% endif %}
                    </div>
                {% endfor %}
                {% if iters|length == 1 %}
                    <div class="is-active cover-thumbnail is-2by1">
                        {# Placeholder #}
                    </div>
                {% elseif iters|length == 0 %}
                    <div class="is-active cover-thumbnail is-2by1">
                        {# Placeholder #}
                    </div>
                    <div class="is-active cover-thumbnail is-2by1">
                        {# Placeholder #}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
