{% extends 'tab.twig' %}

{% set active_tab = 'public' %}

{% block tab_content %}
<article class="block">
    <div class="is-hidden-desktop block">
        {{ include('_profile_widget.twig') }}
    </div>
    <div class="profile-field">
        <div class="field-body">
            <h2 class="title is-4">{{ __('About') }}</h2>
        </div>
    </div>

    {% if is_current_user %}
        <div class="profile-field">
            <div class="field-body">
                <p class="content is-small">
                    {{ __('Change who can see these personal details on the <a href="%s">privacy tab</a>.')|format(path('profile', {view: 'privacy', lid: iter.id}))|raw }}
                </p>
            </div>
        </div>
    {% endif %}

    <div class="profile-information">
        {% for field in view.personal_fields %}
            {% set field_visibility = model.get_privacy_for_field(iter, field.name) %}
            {% if field_visibility == constant('DataModelMember::VISIBLE_TO_EVERYONE') %}
                <div class="profile-field">
                    <div class="field-label">{{ field.label }}</div>
                    <div class="field-body data-public">{{ view.format_member_data(iter, field.name)|raw }}</div>
                </div>
            {% elseif field_visibility == constant('DataModelMember::VISIBLE_TO_MEMBERS') %}
                {% if global.identity.is_member or global.identity.member_in_committee(constant('COMMISSIE_BESTUUR')) %}
                    <div class="profile-field">
                        <div class="field-label">{{ field.label }}</div>
                        <div class="field-body data-members-only">
                            {{ view.format_member_data(iter, field.name)|raw }}
                            <span class="icon is-small">
                            <i class="fas fa-lock"
                               title="{{ __('Only visible for logged-in members')|e('html_attr') }}"
                               aria-hidden="true"></i>
                            <span class="is-sr-only">{{ __('Only visible for logged-in members') }}</span>
                        </span>
                        </div>
                    </div>
                {% endif %}
            {% elseif global.identity.member_in_committee(constant('COMMISSIE_BESTUUR')) %}
                <div class="profile-field">
                    <div class="field-label">{{ field.label }}</div>
                    <div class="field-body data-private">
                        {{ view.format_member_data(iter, field.name)|raw }}
                        <span class="icon is-small">
                        <i class="fas fa-eye-slash" title="{{ __('Private')|e('html_attr') }}"
                           aria-hidden="true"></i>
                        <span class="is-sr-only">{{ __('Private') }}</span>
                    </span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="profile-field">
            <div class="field-label">{{ __('Status') }}</div>
            <div class="field-body data-public">{{ view.member_type_to_string(iter.type) }}</div>
        </div>
    </div>
</article>

{% set working_groups = committees|filter(c => c.type == constant('DataModelCommissie::TYPE_WORKING_GROUP')) %}
{% set others = committees|filter(c => c.type == constant('DataModelCommissie::TYPE_OTHER')) %}
{% set committees = committees|filter(c => c.type == constant('DataModelCommissie::TYPE_COMMITTEE')) %}
<article class="block">
    <div class="profile-field">
        <div class="field-body">
            <h2 class="title is-4">{{ __('Committees') }}</h2>
        </div>
    </div>
    <div class="profile-field">
        <div class="field-body">
            {% if committees|length > 0 %}
                <p>{{ __('%s is a member of the following committees:')|format(iter|first_name) }}</p>
            {% else %}
                <p>{{ __('%s is not a member of any committees.')|format(iter|first_name) }}</p>
            {% endif %}
        </div>
    </div>
    <ul class="profile-committees">
        {% for committee in committees %}
            <li>
                <a class="committee-name"
                   href="{{ committee.absolute_path|e('html_attr') }}">{{ committee.naam }}</a>
                <div class="committee-position">{{ __translate_parts(committee.functie, ',\/&') }}</div>
            </li>
        {% endfor %}
    </ul>
</article>
{% if working_groups|length > 0 %}
    <article class="block">
        <div class="profile-field">
            <div class="field-body">
                <h2 class="title is-4">{{ __('Working Groups') }}</h2>
            </div>
        </div>
        <div class="profile-field">
            <div class="field-body">
                <p>{{ __('%s is a member of the following working groups:')|format(iter|first_name) }}</p>
            </div>
        </div>
        <ul class="profile-committees">
            {% for working_group in working_groups %}
                <li>
                    <a class="committee-name"
                       href="{{ working_group.absolute_path|e('html_attr') }}">{{ working_group.naam }}</a>
                    <div class="committee-position">{{ __translate_parts(working_group.functie, ',\/&') }}</div>
                </li>
            {% endfor %}
        </ul>
    </article>
{% endif %}
{% if others|length > 0 %}
    <article class="block">
        <div class="profile-field">
            <div class="field-body">
                <h2 class="title is-4">{{ __('Groups') }}</h2>
            </div>
        </div>
        <div class="profile-field">
            <div class="field-body">
                <p>{{ __('%s is a member of the following groups:')|format(iter|first_name) }}</p>
            </div>
        </div>
        <ul class="profile-committees">
            {% for other in others %}
                <li>
                    <a class="committee-name"
                       href="{{ other.absolute_path|e('html_attr') }}">{{ other.naam }}</a>
                    <div class="committee-position">{{ __translate_parts(other.functie, ',\/&') }}</div>
                </li>
            {% endfor %}
        </ul>
    </article>
{% endif %}
{% endblock %}