{% extends '@layout/layout.twig' %}

{% block title iter|personal_full_name ~ ' – ' ~ parent() %}

{% block page %}
{% set show_tabs = view.tabs(iter)|filter(t => t.visible)|length > 1 %}
<div class="section profile-page">
    <div class="container {% if show_tabs %}has-sidebar{% else %}has-content{% endif %}">
        <div class="columns is-hidden-touch">
            <div class="column is-content {% if show_tabs %}is-offset-sidebar{% endif %}">
                {{ include('_profile_widget.twig') }}
            </div>
        </div>

        <div class="columns {% if show_tabs %}tabs-wrapper is-vertical{% endif %}" data-history>
            {% if show_tabs %}
                <aside class="column is-sidebar">
                    <nav class="tabs is-vertical profile-navigation">
                        <ul>
                            <li class="tabs-title">
                                {{ iter|full_name }}
                            </li>
                            {% for tab_name, tab in view.tabs(iter) %}
                                {% if tab.visible %}
                                    <li class="{{ tab_name == active_tab ? 'is-active' : '' }} {{ tab.class is defined ? tab.class : '' }}">
                                        <a href="{{ path('profile', {lid: iter.id, view: tab_name}) }}#{{ tab_name }}-tab">
                                            <span>{{ tab.label }}</span>
                                            {%- if tab.icon is defined -%}
                                                <span class="icon is-small">
                                                    <i class="{{ tab.icon }}" aria-hidden="true"></i>
                                                </span>
                                            {%- endif -%}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>
                </aside>
            {% endif %}
            <div class="column is-content">
                {% if show_tabs %}
                    <button class="button tabs-back" data-sticky hidden>
                        <span class="icon" aria-hidden="true"><i class="fas fa-arrow-left"></i></span>
                        <span>{{ __('Profile settings') }}</span>
                    </button>
                {% endif %}
                {% if errors is defined and errors|length > 0 %}
                    <div class="notification is-danger content">
                        <p>{{ __('You haven\'t filled in all the fields correctly') }}</p>

                        {% if error_message is defined %}
                            <p>{{ error_message|nl2br }}</p>
                        {% endif %}
                    </div>
                {% endif %}
                <div class="tabs-content">
                    <div id="{{ active_tab }}-tab" class="is-active">{% block tab_content %}{% endblock %}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
